<!DOCTYPE html>
<html>
<title>Nico's Surf Links</title>
<body>
<h1>Bay Area Surf Links</h1>

<p><b>Surfline Cams / Reports</b></p>
<ul>
<li><a href="https://www.surfline.com/surf-report/fort-cronkite-rodeo-beach/5842041f4e65fad6a77089bf" rel="noopener noreferrer" target="_blank">Fort Cronkhite / Rodeo Beach</a></li>
<li><a href="https://www.surfline.com/surf-report/north-ocean-beach/5d9b68deab58860001c7359e" rel="noopener noreferrer" target="_blank">North Ocean Beach</a></li>
<li><a href="https://www.surfline.com/surf-report/ocean-beach-overview/5842041f4e65fad6a77087f8" rel="noopener noreferrer" target="_blank">Ocean Beach Overview</a></li>
<li><a href="https://www.surfline.com/surf-report/central-ocean-beach-north/58bdda3582d034001252e3d0" rel="noopener noreferrer" target="_blank">Central Ocean Beach North</a></li>
<li><a href="https://www.surfline.com/surf-report/central-ocean-beach-south/58bdd8fca7ce4b00126f7bb0" rel="noopener noreferrer" target="_blank">Central Ocean Beach South</a></li>
<li><a href="https://www.surfline.com/surf-report/south-ocean-beach/5842041f4e65fad6a77087f9" rel="noopener noreferrer" target="_blank">South Ocean Beach</a></li>
<li><a href="https://www.surfline.com/surf-report/pacifica-overview/5cbf8d85e7b15800014909e8" rel="noopener noreferrer" target="_blank">Pacifica</a></li>
    </ul>

<p><b>Other Reports / Data</b></p>
<ul>
    <li><a href="https://www.fnmoc.navy.mil/wxmap_cgi/cgi-bin/wxmap_DOD_area.cgi?area=nvg_epac&set=SeaState" rel="noopener noreferrer" target="_blank">FNMOC WW3</a></li>
</ul>

<p><b>Buoys</b></p>
<ul>
<li><a href="https://www.ndbc.noaa.gov/station_page.php?station=46026" rel="noopener noreferrer" target="_blank">Buoy 46026 (18NM West of SF)</a></li>
<li><a href="https://www.ndbc.noaa.gov/station_page.php?station=46237" rel="noopener noreferrer" target="_blank">Buoy 46237 (SF)</a></li>
<li><a href="https://www.ndbc.noaa.gov/station_page.php?station=46269" rel="noopener noreferrer" target="_blank">Buoy 46269 (Santa Cruz)</a></li></ul>

<p><b>Weather / Wind</b></p>
<ul>
<li><a href="https://www.windy.com/?37.768,-122.511,16" rel="noopener noreferrer" target="_blank">Ocean Beach - Windy.com</a></li>
    <li><a href="https://www.windy.com/?37.600,-122.505,15" rel="noopener noreferrer" target="_blank">Pacifica - Windy.com</a></li>
<li><a href="https://www.windy.com/?36.944,-121.977,13" rel="noopener noreferrer" target="_blank">Santa Cruz - Windy.com</a></li>
</ul>


</body>
</html>